{% extends 'website/base.html' %}

{% block content %}
    <div class="faq">
        <div class="container my-0 mx-auto">
            <div class="faq__content mx-auto w-9/12 pt-48 pb-16">
                <h1 class="font-bold text-4xl text-left">Preguntas frecuentes</h1>
                <div class="faq__accordeon">
                    <ol>
                        <li>
                            Duis eget purus quis ex blandit iaculis ac ut dui.
                            <div class="faq__body">
                                <p>Aenean non tincidunt lorem. Mauris finibus suscipit turpis, quis rhoncus est cursus
                                    in. Donec ullamcorper mauris vitae interdum vestibulum. Fusce suscipit turpis quis
                                    dolor porta rhoncus. Duis facilisis dolor ut elit lobortis rhoncus. Vestibulum
                                    eleifend quis lacus eu pretium. In eget leo fringilla, ullamcorper augue sed,
                                    euismod purus.</p>
                            </div>
                        </li>
                        <li>
                            Phasellus non odio elementum, semper nulla euismod, pharetra mauris.
                            <div class="faq__body">
                                <p>Etiam tempor, ipsum et luctus aliquam, ante mauris venenatis nulla, at commodo orci
                                    libero a leo. Curabitur malesuada tortor ac ornare egestas. Sed molestie feugiat
                                    lorem, dapibus ornare tortor auctor sit amet. Aliquam feugiat consequat nisl vitae
                                    laoreet. Cras euismod sapien id urna iaculis, ac porttitor eros placerat. Mauris
                                    feugiat et nisi vel porttitor. Pellentesque volutpat molestie risus in pellentesque.
                                    Cras non fermentum dolor, et lacinia sapien. Cras sed felis diam. Vivamus ut
                                    malesuada mauris, in consectetur lorem. Integer in odio rhoncus, facilisis sapien
                                    sit amet, ullamcorper tortor. Suspendisse condimentum metus velit.</p>
                            </div>
                        </li>
                        <li>
                            Nunc cursus enim vitae magna porta, quis ornare urna tincidunt.
                            <div class="faq__body">
                                <p>Phasellus tellus nulla, luctus a arcu vitae, vestibulum tincidunt diam. Nam finibus
                                    ex et condimentum blandit. Suspendisse non quam sit amet ante semper molestie.
                                    Aliquam ac ultricies orci. In malesuada lorem in mauris efficitur lacinia. Donec
                                    maximus fringilla ipsum, id porttitor orci facilisis bibendum. Aenean tincidunt
                                    sagittis consequat. Aliquam tincidunt tincidunt dolor sit amet aliquam. Aliquam sed
                                    justo at sapien convallis consequat a non nisl. In ut elementum diam. Aenean
                                    consequat justo ac risus tincidunt, eu lacinia risus pharetra. Mauris aliquam orci
                                    sem, et elementum augue pellentesque et. Nulla ultrices nulla sodales elit placerat
                                    convallis at et nisi.

                                </p>
                            </div>
                        </li>
                        <li>
                            Sed ac dolor eu nunc volutpat sodales.
                            <div class="faq__body">
                                <p>Aenean laoreet consectetur arcu quis mattis. Suspendisse ut tempus mi. Nam in felis
                                    sem. Nulla eleifend massa erat, nec ornare elit elementum non. Maecenas maximus
                                    convallis elit rhoncus interdum. Praesent congue posuere facilisis. Duis viverra
                                    arcu vel nulla gravida rhoncus in id enim.</p>
                            </div>
                        </li>
                        <li>
                            Praesent nec tortor id nibh pretium ultricies hendrerit at nunc.
                            <div class="faq__body">
                                <p>Sed eros ligula, dictum venenatis convallis ut, semper in magna. Nullam viverra leo
                                    vel luctus condimentum. Morbi non sodales nunc. Morbi velit lectus, eleifend in
                                    ultrices vitae, finibus eu lectus. Quisque hendrerit venenatis nisl, sed volutpat
                                    libero. Fusce iaculis gravida massa, nec sollicitudin leo vestibulum ut. Sed mollis
                                    augue et vulputate semper. Phasellus feugiat pharetra elit id lacinia. Aliquam at
                                    ultricies ipsum, eu vehicula risus. Suspendisse posuere ac magna ut condimentum. Sed
                                    faucibus ultrices ipsum, in fringilla metus feugiat eu. Nam ultrices libero vitae
                                    molestie ultrices. Maecenas fringilla finibus neque, vel tincidunt felis dictum at.
                                    Suspendisse potenti.

                                </p>
                            </div>
                        </li>
                        <li>
                            Donec consectetur tellus sit amet urna pellentesque, et tincidunt odio maximus.
                            <div class="faq__body">
                                <p>Praesent eleifend neque at neque aliquet, ut vehicula elit egestas. Maecenas ac
                                    libero ac mi tincidunt rhoncus in vitae ex. Suspendisse vulputate vitae velit id
                                    convallis. Curabitur sagittis auctor odio, quis euismod velit gravida eget. Aenean
                                    vel ullamcorper arcu, ac commodo mi. Quisque varius efficitur mattis. Sed ac aliquet
                                    libero. Quisque nunc sapien, suscipit ut sem in, accumsan laoreet sem. Quisque
                                    vehicula eu ligula euismod rhoncus. Duis pharetra turpis id ex rhoncus dignissim.
                                    Integer vel purus felis. Fusce ipsum nibh, hendrerit in facilisis id, auctor et est.
                                    Proin feugiat, nisl vehicula bibendum suscipit, nibh quam commodo enim, et euismod
                                    diam tortor vel ex. Sed convallis magna nec lectus hendrerit venenatis. Duis ac
                                    nulla libero.</p>
                            </div>
                        </li>
                        <li>
                            Curabitur non libero dapibus, rutrum felis ac, consectetur magna.
                            <div class="faq__body">
                                <p>Aliquam vel purus sed nunc hendrerit dignissim sed a quam. Nulla iaculis lectus id
                                    est porttitor, vel placerat dui porta. Proin facilisis est sit amet lobortis
                                    porttitor. Aenean sed massa mollis, lobortis elit et, tincidunt dolor. Pellentesque
                                    iaculis nunc nisl, nec congue quam faucibus ac. Sed dictum dolor non velit malesuada
                                    laoreet. Suspendisse nibh sem, egestas eu ligula id, pharetra porta tellus. Praesent
                                    mi massa, tristique vel nibh sit amet, porta tristique tortor. Duis rutrum finibus
                                    vehicula. Duis luctus fringilla ipsum, a pharetra eros laoreet non. Pellentesque
                                    lobortis erat sit amet ligula pulvinar aliquet sed non augue. Cras nisl augue,
                                    dignissim non ex gravida, varius tincidunt nibh. Vivamus in leo at quam fermentum
                                    porta porttitor at neque.</p>
                            </div>
                        </li>
                        <li>
                            Duis congue nibh condimentum augue tincidunt, non commodo enim euismod.
                            <div class="faq__body">
                                <p>Sed vitae odio eu odio auctor egestas. Mauris et pulvinar nisi, vel tempus lectus.
                                    Etiam ullamcorper, felis auctor placerat dapibus, ipsum metus ullamcorper lorem,
                                    vitae bibendum nisl nunc quis enim. Etiam sollicitudin euismod ante, a finibus augue
                                    interdum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                    non ligula sed nisi aliquam facilisis eu ut diam. Fusce malesuada elit porttitor
                                    lorem congue accumsan.</p>
                            </div>
                        </li>
                        <li>
                            Maecenas id orci congue, vestibulum lorem eu, interdum dui.
                            <div class="faq__body">
                                <p>Vivamus iaculis urna vitae est fringilla, at auctor libero accumsan. Aenean vel urna
                                    et quam dapibus commodo. Phasellus laoreet justo quis est tempus, tempor bibendum
                                    dolor feugiat. Nulla facilisi. Fusce ut tortor est. Donec hendrerit placerat dictum.
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Aliquam tristique nisi quam, ac consequat metus venenatis ut. Ut fringilla
                                    eu dolor a sollicitudin. Sed ornare turpis sed augue porta, id euismod ipsum
                                    pharetra. Vivamus at arcu ut augue dictum rutrum at vitae arcu.</p>
                            </div>
                        </li>
                        <li>
                            Nulla faucibus nibh ut dui faucibus aliquet.
                            <div class="faq__body">
                                <p>Nunc tristique urna purus, quis scelerisque nisi faucibus vehicula. Nullam mattis
                                    efficitur leo. Vestibulum non placerat est. Vivamus a dolor quis erat tincidunt
                                    viverra vel sit amet leo. Cras mattis imperdiet ligula nec ultrices. In venenatis
                                    placerat auctor. Etiam hendrerit lacinia eleifend. Sed eros leo, iaculis sed sem at,
                                    egestas facilisis arcu.</p>
                            </div>
                        </li>
                        <li>
                            Cras volutpat eros sed mi venenatis, in cursus urna mollis.
                            <div class="faq__body">
                                <p>Curabitur feugiat euismod dolor ac consequat. Curabitur sollicitudin massa id
                                    lobortis efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci
                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Vivamus aliquet egestas nunc, eget mollis nisi scelerisque vel. Praesent accumsan
                                    consequat euismod. Aliquam semper tortor libero. Etiam non dolor scelerisque,
                                    fringilla enim eu, tincidunt risus. Suspendisse imperdiet vulputate urna, vitae
                                    varius nunc hendrerit eget. Curabitur bibendum pellentesque pretium.</p>
                            </div>
                        </li>
                        <li>
                            Nulla commodo urna a leo suscipit, nec scelerisque neque faucibus.
                            <div class="faq__body">
                                <p>Morbi interdum dapibus nibh sed malesuada. Quisque eget dolor eu tortor accumsan
                                    lacinia scelerisque vitae magna. Etiam mauris elit, vestibulum et ornare at,
                                    sagittis vel lacus. Vestibulum elementum quis lectus at suscipit. Sed nisi urna,
                                    mollis a nisi quis, dignissim euismod diam. Praesent sollicitudin, est nec iaculis
                                    tincidunt, tortor tellus aliquet diam, nec euismod nisi justo non velit. Interdum et
                                    malesuada fames ac ante ipsum primis in faucibus. Cras sagittis condimentum
                                    efficitur. Aliquam euismod libero vitae tincidunt suscipit.</p>
                            </div>
                        </li>
                        <li>
                            Sed laoreet dui at nisi vulputate, vitae consequat orci faucibus.
                            <div class="faq__body">
                                <p>In hac habitasse platea dictumst. Vivamus et mi eu arcu faucibus vestibulum at id
                                    diam. Suspendisse sodales arcu a felis aliquet, eget dapibus arcu cursus. Vestibulum
                                    ac rutrum erat, nec hendrerit neque. Praesent tempor justo erat, non mattis mauris
                                    placerat sed. Praesent at efficitur eros. Nullam dictum tincidunt feugiat. Fusce at
                                    lectus vel lectus convallis elementum. Quisque posuere hendrerit dolor vitae
                                    tincidunt. Curabitur auctor non quam at semper. Morbi ac arcu tincidunt, finibus
                                    urna eu, auctor ex. Ut feugiat erat id interdum tempor. Nullam sed mauris faucibus
                                    metus cursus pretium.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
