{% extends 'website/base.html' %}

{% block content %}
    <div class="tyc">
        <div class="container my-0 mx-auto">
            <div class="tyc__content mx-auto w-9/12 pt-48 pb-16">
                <h1 class="font-bold text-4xl text-left">Términos y condiciones</h1>
                <h3 class="font-bold text-2xl text-left">Titularidad de la página web</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur sagittis dui, vel egestas
                    nunc sagittis vel. Integer pellentesque consequat massa eu hendrerit.</p>

                <h3 class="font-bold text-2xl text-left">Uso del portal</h3>
                <p>Aliquam erat volutpat. In maximus vel urna in vulputate. Vestibulum auctor porta metus, a venenatis
                    sapien finibus vel. Mauris sodales eros dapibus massa maximus dapibus. Nullam feugiat, sem sit amet
                    scelerisque luctus, tortor justo pretium velit, at vehicula metus augue et mauris. Integer interdum
                    vel arcu eu aliquet. Vestibulum interdum feugiat diam vel tempus. Sed consequat justo et mi
                    vehicula, tempor mattis arcu elementum. In et pharetra nulla, ut malesuada ex. Vivamus et efficitur
                    arcu. Nam odio lectus, venenatis vel rutrum vitae, ultricies non diam. Ut volutpat aliquet ornare.
                    Nulla faucibus feugiat ante id sodales. Aenean auctor pretium consequat.</p>
                <ul>
                    <li>Fusce tincidunt mi quis libero hendrerit, et congue augue vestibulum.</li>
                    <li>Quisque nec tortor eu urna consectetur dictum.</li>
                    <li>Ut accumsan risus viverra feugiat aliquam.</li>
                    <li>Nulla consequat ligula a ante dapibus placerat at eu purus.</li>
                    <li>Ut aliquet enim id justo porttitor viverra.</li>
                </ul>

                <h3 class="font-bold text-2xl text-left">Registro y uso del sitio</h3>
                <p>Quisque consequat lobortis ante id euismod. Etiam et lectus varius arcu elementum pellentesque. Fusce
                    eleifend finibus lorem ac imperdiet. Nulla facilisi. Morbi faucibus mi non elit hendrerit congue.
                    Integer varius pharetra elit, eget aliquam lorem mattis vel. Nam nec laoreet lacus. Curabitur sit
                    amet porta dolor, eget tincidunt odio. Proin porttitor non tellus congue porttitor. Vivamus feugiat
                    a leo feugiat tempor. Duis tincidunt nisl et facilisis gravida. Donec vitae pretium eros. Vestibulum
                    vitae odio rutrum, euismod ligula ut, tincidunt libero.</p>

                <h3 class="font-bold text-2xl text-left">Derechos del usuario en el sitio web</h3>
                <p>Aenean at lectus in dui suscipit malesuada non non neque. Donec in metus sed nibh pharetra tempor.
                    Integer vel nibh lacus. Sed condimentum egestas odio, sed rutrum nisl pulvinar eget. Fusce vitae
                    eros sit amet leo posuere posuere in ac risus. Fusce non arcu orci. Fusce vehicula tincidunt turpis,
                    quis cursus ipsum pretium ut.</p>

                <h3 class="font-bold text-2xl text-left">Procedimiento para hacer uso del sitio de internet</h3>
                <p>Vivamus nec est laoreet, posuere ligula et, blandit mi. Donec facilisis nunc volutpat, condimentum
                    diam sed, convallis nibh. Duis ut dignissim ante, id congue felis. Duis vel semper urna. Vestibulum
                    sodales, purus at dapibus consequat, odio massa semper dolor, eget imperdiet orci purus et
                    tortor.</p>

                <h3 class="font-bold text-2xl text-left">Procedomiento de selección de productos y pago</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et scelerisque justo. Vestibulum vitae
                    volutpat arcu. Praesent in purus commodo, rhoncus leo quis, eleifend augue.</p>
                <ol>
                    <li>Aliquam dictum mi sit amet erat euismod convallis.</li>
                </ol>

                <h3 class="font-bold text-2xl text-left">Medios de pago</h3>
                <ol>
                    <li>Integer eu metus scelerisque, pretium tortor et, aliquam purus.</li>
                    <li>Maecenas aliquet massa in quam hendrerit, eu malesuada turpis luctus.</li>
                    <li>Aliquam tincidunt augue in risus ornare egestas.</li>
                </ol>

                <h3 class="font-bold text-2xl text-left">Sobre las imágenes de los productos</h3>
                <p>Quisque accumsan enim eu sem hendrerit, non sollicitudin nunc pulvinar. Vivamus bibendum libero
                    placerat, vestibulum massa vitae, iaculis neque. Ut semper, mi in sollicitudin molestie, nunc leo
                    mattis lectus, at luctus erat tortor at arcu. Duis elementum leo eu iaculis viverra.</p>

                <h3 class="font-bold text-2xl text-left">Precio y stock contenidos en el sitio web</h3>
                <p>ras tempor velit urna, a consequat turpis ullamcorper id. Nulla lectus augue, faucibus vitae nulla
                    sed, faucibus aliquam augue. Mauris vel purus tellus. Suspendisse sed ante nec lorem porta mollis
                    vitae ac nibh. Sed aliquet neque ipsum, vel vulputate augue posuere vel.</p>

                <h3 class="font-bold text-2xl text-left">Mecanismos de entrega de productos</h3>
                <p>Fusce placerat diam purus. Nullam euismod ipsum et risus placerat, et pulvinar libero efficitur. In
                    hac habitasse platea dictumst. Nulla aliquet nunc elit, at varius justo aliquam ac.</p>
                <ul>
                    <li>Nunc sagittis augue quis dictum iaculis.</li>
                    <li>Nulla laoreet ligula in nisi tincidunt laoreet.</li>
                    <li>Donec pulvinar est ut est volutpat, at ullamcorper metus vehicula.</li>
                </ul>
                <p>Phasellus convallis nisl a ligula facilisis efficitur. Maecenas varius quam sit amet massa volutpat
                    dictum. Nullam pretium nisi luctus porta posuere. Nullam ultrices ipsum ipsum, non maximus arcu
                    fermentum in.</p>
                <ol>
                    <li>In vitae eros id magna sagittis blandit suscipit vel ligula.</li>
                    <li>Pellentesque facilisis nisi in elit aliquet pellentesque id eu lectus.</li>
                </ol>

                <h3 class="font-bold text-2xl text-left">Propiedad intelectual e industrial</h3>
                <p>Vestibulum egestas rhoncus suscipit. Nulla imperdiet in risus ac convallis. Donec lacinia augue ut
                    elit convallis laoreet. Phasellus sed felis pulvinar, varius enim quis, convallis ex. Fusce sapien
                    urna, pulvinar nec maximus a, ornare sit amet lectus. Aenean quis ex in massa scelerisque elementum
                    nec at leo. Nulla finibus, lorem sit amet hendrerit feugiat, odio nulla cursus justo, a eleifend mi
                    nisi quis sapien.</p>

                <h3 class="font-bold text-2xl text-left">Generalidades</h3>
                <p>Nam tempor ultricies dignissim. Etiam quis nunc nisi. Suspendisse at nunc a metus dignissim sodales.
                    Cras lobortis, tortor ut tristique vehicula, augue dolor pulvinar sem, eu convallis nisl metus non
                    elit. Aenean ligula ex, convallis dapibus condimentum in, interdum id nisl. Cras quis vehicula ante.
                    Quisque enim ipsum, viverra et ligula et, aliquam pharetra nisl. Fusce vel risus aliquam magna
                    consectetur porta ac at ante. Mauris condimentum ante viverra egestas vulputate.</p>

                <h3 class="font-bold text-2xl text-left">Tratamiento de datos personales</h3>
                <p>Mauris bibendum sapien lectus, ut ultrices orci imperdiet sed. Suspendisse at augue semper, placerat
                    augue nec, tempor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia curae; Suspendisse convallis rhoncus venenatis. Vestibulum et tempus mi. Suspendisse
                    potenti.</p>

                <h3 class="font-bold text-2xl text-left">Política de privacidad</h3>
                <p>Sed et nulla quam. Aenean a pharetra eros. Aliquam sodales leo eu massa fringilla posuere. Duis
                    finibus ex vel efficitur tristique. Nulla sit amet pharetra magna. Vivamus fringilla, lacus pulvinar
                    vulputate viverra, mi nisi egestas ex, vel sollicitudin leo magna id purus. Nulla ultricies augue et
                    ante bibendum suscipit non ut massa. Curabitur sed odio vel dui egestas placerat. Nam tempus sem
                    vitae lorem efficitur, eu faucibus ligula hendrerit. Fusce dui lorem, maximus vitae dolor ac,
                    fringilla dignissim quam. Nullam porta ornare nunc nec tincidunt. Curabitur vestibulum molestie
                    sapien, ac commodo urna scelerisque vitae.</p>
            </div>
        </div>
    </div>
{% endblock %}
