{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/css/styles.css' %}">
    {% endcompress %}
</head>
<body id="wrapper">
    <header class="header absolute top-0 w-full">
        <div class="header__headings border-b py-2" style="border-color: rgba(255,255,255,.1)">
            <div class="container flex items-center justify-between my-0 mx-auto">
                <div class="header__aboutus flex gap-5">
                    <a href="">Nosotros</a>
                    <a href="">Preguntas frecuentes</a>
                    <a href="">Contáctanos</a>
                </div>
                <div class="header__useractions flex gap-x-2">
                    <button class="inline-flex items-center justify-center font-bold px-4 text-sm"><img src="{% static 'src/images/icons/btn-excel.svg' %}"> Búsqueda masiva</button>
                    <button class="inline-flex items-center justify-center font-bold px-4 text-sm"><img src="{% static 'src/images/icons/btn-user.svg' %}"> Iniciar sesión</button>
                </div>
            </div>
        </div>
        <div class="header__content py-5">
            <div class="container flex items-center justify-between my-0 mx-auto">
                <div class="header__logo" style="font-size: 0; line-height: 0">
                    <img src="{% static 'src/images/logo.svg' %}" alt="" style="width: 110px; height: auto"></div>
                <nav>
                    <ul class="flex items-center justify-between gap-x-11">
                        <li>
                            <strong>Europeo</strong>
                            <ul>
                                <li><a href="">Ivecum</a></li>
                                <li><a href="">Merchedez</a></li>
                                <li><a href="">Scanium</a></li>
                                <li><a href="">Voltro</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Americano</strong>
                            <ul>
                                <li><a href="">Forth</a></li>
                                <li><a href="">Freightlinering</a></li>
                                <li><a href="">Hendrickdottir</a></li>
                                <li><a href="">National</a></li>
                                <li><a href="">Barbieworth</a></li>
                                <li><a href="">Mackintosh</a></li>
                                <li><a href="">Woman</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Brasilero</strong>
                            <ul>
                                <li><a href="">Rurale</a></li>
                                <li><a href="">Burgswagen</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Asiatico</strong>
                            <ul>
                                <li><a href="">Blue Dragon</a></li>
                                <li><a href="">Nohi</a></li>
                                <li><a href="">Shen Long</a></li>
                                <li><a href="">Sinowagen</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Maq. Pesada</strong>
                            <ul>
                                <li><a href="">Allidottir</a></li>
                                <li><a href="">Tomcat</a></li>
                                <li><a href="">Caterpiellar</a></li>
                                <li><a href="">Dookun</a></li>
                                <li><a href="">Dyunhai Cons EQ</a></li>
                                <li><a href="">K.P.M.</a></li>
                                <li><a href="">John Doe</a></li>
                                <li><a href="">Tokatsu</a></li>
                                <li><a href="">Liebherren</a></li>
                                <li><a href="">Maquinaria y Equipos</a></li>
                                <li><a href="">Voltro Const EQU</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Motores</strong>
                            <ul>
                                <li><a href="">Cummi**s</a></li>
                                <li><a href="">Frontroit Diesel</a></li>
                                <li><a href="">Deux</a></li>
                                <li><a href="">WMW</a></li>
                                <li><a href="">Rochester</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="header__cart flex items-center justify-center gap-x-1">
                    <div class="cart__ico">
                        <img src="{% static 'src/images/icons/cart.svg' %}" alt="">
                    </div>
                    <div class="cart__info">
                        <strong class="block text-sm text-white">Carrito</strong>
                        <span class="inline-block px-2 rounded-sm text-sm text-white" style="background-color: #C53715">11</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer py-7">
        <div class="footer__content pb-7">
            <div class="footer__items container grid grid-cols-6 gap-x-4 my-0 mx-auto">
                <div class="footer__item py-7">
                    <a href="/" style="font-size: 0; line-height: 0">
                        <img src="{% static 'src/images/iso.svg' %}" alt="" style="width: 90px; height: auto"></a>
                </div>
                <div class="footer__item py-7">
                    <strong>Europeo</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Norteamericano</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Brasilero</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Asiatico</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <a href="" class="likeButton">Trabaja con nosotros</a>
                    <a href="" class="likeButton-outline">Revisa tu factura</a>
                </div>
            </div>
        </div>
        <div class="footer__content border-t pb-7" style="border-color: #222">
            <div class="footer__items container grid grid-cols-6 gap-x-4 my-0 mx-auto">
                <div class="footer__item py-7">
                    <strong>Europeo</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Norteamericano</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Brasilero</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Asiatico</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Maq. Pesada</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
                <div class="footer__item py-7">
                    <strong>Motores</strong>
                    <ul>
                        <li><a href="">Ivecum</a></li>
                        <li><a href="">Merchedez</a></li>
                        <li><a href="">Scanium</a></li>
                        <li><a href="">Voltro</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__content border-t" style="border-color: #222">
            <div class="footer__items container my-0 mx-auto">
                <div class="footer__item flex items-center justify-between py-9">
                    <ul class="flex items-center gap-x-5">
                        <li class="font-bold text-sm text-white">Opciones de pago</li>
                        <li><img src="{% static 'src/images/icons/visa-icon-sm.png' %}" alt="Visa"></li>
                        <li><img src="{% static 'src/images/icons/mastercard-icon-sm.png' %}" alt="Mastercard"></li>
                        <li><img src="{% static 'src/images/icons/americanexpress-icon-sm.png' %}" alt="American Express"></li>
                        <li><img src="{% static 'src/images/icons/diners-club-logo.png' %}" alt="Diners Club"></li>
                    </ul>
                    <ul class="flex items-center gap-x-7">
                        <li><a href=""><img src="{% static 'src/images/icons/facebook.png' %}" alt="Facebook"></a></li>
                        <li><a href=""><img src="{% static 'src/images/icons/instagram.png' %}" alt="Instagram"></a></li>
                        <li><a href=""><img src="{% static 'src/images/icons/linkedin.png' %}" alt="Linkedin"></a></li>
                    </ul>
                </div>
                <div class="footer__item flex items-center justify-between">
                    <p>Copyright © {% now 'Y' %} M&M. Todos los derechos reservados</p>
                    <ul class="flex gap-x-9">
                        <li><a href="">Preguntas frecuentes</a></li>
                        <li><a href="">Contáctanos</a></li>
                        <li><a href="">Términos y condiciones</a></li>
                        <li><a href="">Libro de reclamaciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>