@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  .header__headings {
    .header__aboutus {
      a {
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 13px;
        &:hover {
        }
      }
    }

    .header__useractions {
      button {
        background-color: #2EA862;
        border: 2px solid #2EA862;
        border-radius: 4px;
        color: white;
        height: 31px;
        &:first-child {
          background-color: #F29F03;
          border: 2px solid #F29F03;
          color: #333333;
        }
      }
    }
  }

  .header__content {
    .header__logo {}
    nav {
      ul {
        position: relative;
        li {
          cursor: pointer;
          &:hover {
            strong {
              &::after {
                width: 100%;
              }
            }
            ul {
              opacity: 1;
              top: calc(24px + 11px);
              visibility: visible;
            }
          }
          strong {
            color: white;
            display: block;
            margin-bottom: 11px;
            position: relative;
            z-index: 2;
            &::after {
              background-color: white;
              bottom: 0;
              content: '';
              display: block;
              height: 1px;
              left: 0;
              position: absolute;
              width: 0;
              transition: .35s ease;
            }
          }
          ul {
            background-color: white;
            border-radius: 7px;
            box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
            display: flex;
            flex-direction: column;
            opacity: 0;
            padding: 21px 35px 21px 21px;
            position: absolute;
            row-gap: 11px;
            top: 0;
            transition: .35s ease;
            visibility: hidden;
            z-index: 1;
            li {
              a {
                color: #333333;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                position: relative;
                white-space: nowrap;
                &:hover {
                  &::after {
                    width: 100%;
                  }
                }
                &::after {
                  background-color: #333333;
                  bottom: -2px;
                  content: '';
                  display: block;
                  height: 1px;
                  left: 0;
                  position: absolute;
                  width: 0;
                  transition: .35s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
}

/* HOME */
.home {
  background: rgb(14,76,140);
  background: linear-gradient(180deg, rgba(14,76,140,1) 0%, rgba(50,165,191,1) 100%);
  .home__banner {
    min-height: 719px;
    .banner__search {
      .search__switcher {
        display: flex;
        button {
          background-color: #FFE7BB;
          border-radius: 4px 4px 0 0;
          font-size: 10px;
          height: 31px;
          left: -4px;
          min-width: 195px;
          position: relative;
          text-transform: uppercase;
          z-index: 1;
          &.active {
            background-color: #F29F03;
            z-index: 2;
          }
          &:first-child {
            left: 0;
          }
        }
      }
      .search__content {
        background-color: #F29F03;
        border-radius: 0 4px 4px 4px;
        min-width: 1106px;
        padding: 32px;
        form {
          display: flex;
          .select__group {
            .select__field {
              align-items: center;
              display: flex;
              justify-content: center;
              width: 213px;
              select {
                width: 80%;
                &:focus {
                  outline: 0;
                }
              }
            }
          }
          .input__field {
            align-items: center;
            display: flex;
            height: 47px;
            justify-content: center;
            width: 168px;
            input {
              &[type='text'] {
                width: 80%;
                &:focus {
                  outline: 0;
                }
              }
              &::placeholder {
                color: #B0B0B0;
                font-family: "Inter", sans-serif;
                font-size: 13px;
                font-weight: 400;
              }
            }
            button {
              &[type='submit'] {
                background-color: #004E91;
                border: 2px solid #004E91;
                border-radius: 4px;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 13px;
                font-weight: bold;
                height: 47px;
                width: 168px;
                transition: .35s ease;
                &:hover {
                  background-color: white;
                  color: #004E91;
                }
              }
              &:focus {
                outline: 0;
              }
            }
          }
        }
        .search__byProduct,
        .search__byKeyword {
          display: none;
          visibility: hidden;
          &.active {
            display: block;
            visibility: visible;
          }
        }
        .search__byKeyword {
          .input__field {
            &:first-child {
              min-width: 653px;
              padding: 0 18px;
            }
            img {
              margin-right: 12px;
            }
            input {
              &[type='text'] {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .banner__topProducts {
      .topProducts__item {
        .image {
          background-color: rgba(255, 255, 255, .2);
        }
      }
    }
  }
}

.brands {
  .brands__content {
    h3 {
      color: #333;
      font-family: "Inter", sans-serif;
    }
    .brands__items {
      .brand__item {
        background-color: #F5F5F5;
        border-radius: 50%;
        min-height: 124px;
      }
    }
  }
}

.products {
  background-color: #F5F5F5;
  .products__content {
    .products__items {
      .products__item {
        background-color: white;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        box-sizing: content-box;
        padding: 15px;
        .products__image {
          img {
            height: auto;
            width: 100%;
          }
        }
        .product__brand {
          color: #F29F03;
          font-size: 10px;
        }
        .product__title {
          color: #333333;
          font-size: 14px;
          line-height: 18px;
        }
        .product__code {
          color: #888888;
          font-size: 12px;
        }
        .product__prices {
          p {
            color: #BF3617;
            font-size: 18px;
            font-weight: bold;
            line-height: 18px;
            span {
              font-size: 12px;
            }
            &:first-child {
              color: #888888;
              font-size: 14px;
              font-weight: 400;
              line-height: 14px;
              span {
                font-size: 10px;
              }
            }
          }
        }
        .product__toCompare {}
      }
    }
  }
}

.reasons {
  .reasons__content {
    .reasons__items {
      .reasons__item {
        background-color: #E9F3FB;
        border-radius: 4px;
        min-height: 109px;
        .item__reason {
          color: #333;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.likeButton {
  align-items: center;
  background-color: #F29F03;
  border: 2px solid #F29F03;
  border-radius: 4px;
  color: white;
  display: inline-flex;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 44px;
  justify-content: center;
  margin-bottom: 13px;
  min-width: 210px;
  text-transform: uppercase;
  transition: .35s ease;

  &:hover {
    background-color: rgba(242, 159, 3, .5);
  }
}

.likeButton-outline {
  align-items: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  display: inline-flex;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 44px;
  justify-content: center;
  min-width: 210px;
  text-transform: uppercase;
  transition: .35s ease;

  &:hover {
    background-color: rgba(255, 255, 255, .5);
  }
}

.footer {
  background-color: #121212;
  .footer__content {
    .footer__items {
      .footer__item {
        strong {
          color: white;
          display: inline-block;
          font-size: 15px;
          margin-bottom: 11px;
        }

        p {
          color: #A2A2A2;
          font-size: 14px;
        }

        ul {
          li {
            a {
              color: #B3B3B3;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}