{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div class="about">
        <div class="container my-0 mx-auto">
            <div class="about__content pt-48 pb-16">
                <div class="about__heading mt-16 mb-16 mx-auto w-9/12">
                    <h1 class="font-bold text-4xl text-center">
                        Más de 30 años comprometidos con la <strong>calidad e inmediatez</strong> ofreciendo los mejores
                        repuestos
                    </h1>
                </div>
                <div class="about__timeline flex flex-col gap-y-10 my-0 mx-auto w-7/12">
                    <div class="timeline__item flex items-center justify-start gap-x-10">
                        <div class="year">
                        </div>
                        <div class="history">
                            <h3>1989</h3>
                            <p>Se fundó en 1989, brindando repuestos para buses y camiones convirtiendose en una de las
                                empresas más importantes del sector</p>
                        </div>
                    </div>

                    <div class="timeline__item flex items-center justify-start gap-x-10">
                        <div class="year">
                        </div>
                        <div class="history">
                            <h3>1996</h3>
                            <p>Se completó la línea de productos para buses y camiones Europeos: <strong>Scania</strong>,
                                <strong>Mercedes Benz</strong> y <strong>Volkswagen</strong>.</p>
                        </div>
                    </div>

                    <div class="timeline__item flex items-center justify-start gap-x-10">
                        <div class="year">
                        </div>
                        <div class="history">
                            <h3>2003</h3>
                            <p>Iniciamos la expansión hacia la comercialización de elementos de desgaste y repuestos
                                para maquinaria pesada de las marcas CAT y Komatsu.</p>
                        </div>
                    </div>

                    <div class="timeline__item flex items-center justify-start gap-x-10">
                        <div class="year">
                        </div>
                        <div class="history">
                            <h3>2007</h3>
                            <p>Se incorporó la línea de productos norteamericanos.</p>
                        </div>
                    </div>

                    <div class="timeline__item flex items-center justify-start gap-x-10">
                        <div class="year">
                        </div>
                        <div class="history">
                            <h3>2017</h3>
                            <p>Garantizamos soluciones óptimas mediante el mayor stock de productos y profesionales
                                capacitados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about__numbers pt-16 pb-16">
            <div class="container my-0 mx-auto">
                <div class="about__content my-0 mx-auto w-10/12">
                    <h3 class="text-center text-2xl mb-12">Los <strong>mejores repuestos</strong> entregados en el <strong>mejor
                        tiempo</strong></h3>
                    <div class="numbers grid grid-cols-4 grid-rows-1 gap-7">
                        <div class="numbers__items flex flex-col items-center justify-center">
                            <strong class="text-2xl">6</strong>
                            Tiendas
                        </div>
                        <div class="numbers__items flex flex-col items-center justify-center">
                            <strong class="text-2xl">+30</strong>
                            Años de experiencia en el mercado
                        </div>
                        <div class="numbers__items flex flex-col items-center justify-center">
                            <strong class="text-2xl">+380</strong>
                            Marcas
                        </div>
                        <div class="numbers__items flex flex-col items-center justify-center">
                            <strong class="text-2xl">+25000</strong>
                            Productos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container my-0 mx-auto">
            <div class="about__mv  pt-16 pb-16">
                <div class="mv__items grid grid-cols-2 grid-rows-1 gap-x-20 my-0 mx-auto w-8/12">
                    <div class="mv__item">
                        <h3 class="mb-4 text-2xl text-center">Misión</h3>
                        <p class="text-center">Asegurar la calidad del servicio de venta y post venta, logrando la
                            satisfacción de nuestros
                            clientes con una aten- ción eficiente y eficaz a través de la comercialización de
                            repuestos
                            y servicios.</p>
                    </div>
                    <div class="mv__item">
                        <h3 class="mb-4 text-2xl text-center">Visión</h3>
                        <p class="text-center">Convertirse en un grupo empresarial peruano líder, con intereses en
                            los segmentos transporte,
                            agrícola, minería y construcción, integrado verticalmente mediante la diversificación de
                            sus
                            operaciones y con presencia en la región latinoamericana.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
